<div class="search" id="search-comp">
    <div class="search-bar">
        <span class="search-icon" id="search-icon">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="#828282">
                <path
                    d="M20.07 18.93l-4.16-4.15a6 6 0 1 0-.88.88l4.15 4.16a.62.62 0 1 0 .89-.89zM6.5 11a4.75 4.75 0 1 1 9.5 0 4.75 4.75 0 0 1-9.5 0z">
                </path>
            </svg>
        </span>
        <form class="search-form" action="/search/" novalidate="novalidate">
            <input class="search-input hidden" placeholder="搜索" required="required" type="search" name="q"
                autocomplete="off" id="search-input-field">
        </form>
    </div>
    <div class="search-result hidden" id="search-result"></div>
</div>
<div class="search-mobile" id="search-mobile">
    <div class="search-bar">
        <span class="search-icon" id="search-mobile-icon">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="#828282">
                <path
                    d="M20.07 18.93l-4.16-4.15a6 6 0 1 0-.88.88l4.15 4.16a.62.62 0 1 0 .89-.89zM6.5 11a4.75 4.75 0 1 1 9.5 0 4.75 4.75 0 0 1-9.5 0z">
                </path>
            </svg>
        </span>
        <form class="search-form" novalidate="novalidate" action="/search">
            <input class="search-input" placeholder="搜索" required="required" type="search" name="q"
                autocomplete="off" id="mobil-search-input-field">
        </form>
    </div>
</div>