<div class="works-filter">
    {% assign current_page = include.current | default: "all" %}

    {% if current_page == "all" %}
        {% assign highlight_class = "works-cate-highlight" %}
    {% endif %}

    <ul class="works-filter-list" >
        <li class="works-filter-item">
            <a class="{{highlight_class}}" href="/works/">所有</a>
        </li>
        {% assign work_platforms =  site.data.works | map: "platform" | compact | uniq %}
        {% for platform in work_platforms %}
        {% assign platform_detail = site.data.works_category | where: "platform",platform | first %}
        <li class="works-filter-item">
            {% if platform == current_page %}
            <a class="works-cate-highlight" href="/works/{{platform}}">{{ platform_detail.name }}</a>
            {% else %}
            <a href="/works/{{platform}}">{{ platform_detail.name }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>