@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, PingFang SC, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Microsoft YaHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$post-font-color: #1e1f1e !default;
$small-font-size:  $base-font-size * 0.875 !default;
$monospace-font-family: SF Mono,SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
$base-line-height: 1.5 !default;
$heavy-font-weight: 600;

$spacing-unit:     30px !default;

$title-color: #323234 !default;
$text-color:       #111 !default;
$excerpt-color: #878686 !default;
$background-color: #fff !default;
$background-grey: #f8f8f8 !default;

$link-color: #3D3D3D !default;

$brand-color:      #2B65D9 !default;
$brand-color-light: lighten($brand-color, 46%) !default;
$brand-color-dark:  darken($brand-color, 25%) !default;

$border-grey:      #e8e8e8 !default;

$grey-color:       #828282 !default;
$grey-color-lighter: lighten($grey-color, 15%) !default;
$grey-color-light: lighten($grey-color, 25%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1080px !default;

$on-palm:          688px !default;
$on-laptop:        1080px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "epozh/base",
  "epozh/layout",
  "epozh/syntax-highlighting",
  "epozh/works",
  "epozh/projects",
  "epozh/toc-sidebar",
  "epozh/pagination",
  "epozh/global-search"
;
