---
layout: default
title: 工作
permalink: /works/
current_page_platform: all
header_index: 2
---

<script>
    document.querySelector("#header_idx_{{page.header_index}}").classList.add("current");
</script>

{% include works_filter.html  current=page.current_page_platform %}

<div class="wrapper">
    <div class="page-content">
        <ol class="works-list">
            {% for item in site.data.works %}
            {%- if item.platform == page.current_page_platform or page.current_page_platform == "all" -%}
            {% if item.url.size > 0 %}
            {% assign item_url = item.url %}
            {% assign no_url = ""%}
            {% else %}
            {% assign item_url = "javascript:return false;" %}
            {% assign no_url = "no-url"%}
            {% endif %}
            <li class="list-item" id="workitem-{{item.id}}">
                <div class="image-wrapper">
                    <!-- <div class="work-data">
                        {%- assign date_format = site.data_formats.date_format | default: "%b %-d, %Y" -%}
                        <p>{{ item.date | date: date_format }}</p>
                    </div> -->
                    <a class="{{no_url}}" href="{{ item_url }}">
                        <img src="{{ item.img_path }}" alt="{{item.title}}" loading="lazy">
                    </a>
                </div>
                <div class="work-link">
                    <a class="{{no_url}}" href="{{ item_url }}">{{item.title}}</a>
                    <div class="work-link-meta">
                        <div class="work-link-meta-platform">
                            <img src="{{ "/assets/img/sns_icon/"| append: item.platform | append: "-roundC888.svg" | relative_url }}" alt="{{item.platform}}">
                            {% assign platform_detail = site.data.works_category | where: "platform", item.platform | first %}
                            <span>{{ platform_detail.name }}</span>
                        </div>
                        
                        {% if item.data_value %}
                        <div class="work-link-meta-visit" title="{{item.data_desc}}">
                            <img src="{{ "/assets/img/works/works-" | append: item.data_type | append: "-icon.svg" | relative_url }}" alt="{{item.data_type}}">
                            {% if item.data_value != "hide" %}
                            <span>{{ item.data_value }}</span>
                            {% else %}
                            <span style="filter:blur(3px);width: 30px;">Hide</span>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </li>
            {%- endif -%}
            {% endfor %}
        </ol>
    </div>
</div>
